 #email {
     font-size: 23px;
     /* font-family: 'Anton', sans-serif;/ */
     /* font-family: 'Ranga', cursive; */
     font-family: 'Fira Sans Condensed', sans-serif;
     text-decoration-color: bisque
 }
 
 #pwd {
     font-size: 23px;
     /* font-family: 'Anton', sans-serif;
     
     */
     /* font-family: 'Ranga', cursive;
      */
     font-family: 'Fira Sans Condensed', sans-serif;
     /* text-decoration-color: bisque */
 }
 
 .checkbox {
     /* font-family: 'Ranga', cursive; */
     font-family: 'Fira Sans Condensed', sans-serif;
     /* text-decoration-color: bisque */
 }
 
 .container {
     padding-top: 100px;
 }
 
 .jumbotron {
     color: rgb(53, 34, 5);
     box-shadow: 10px 16px 16px;
 }
 
 .container .jumbotron {
     border-radius: 120px;
 }
 
 #suc_k {
     padding-left: 43%;
     padding-right: 40%;
     text-align: center;
     /* padding-top: 56px; */
     font-weight: 200;
     font-size: 75px;
     font-family: 'Permanent Marker', cursive;
     text-shadow: 15px 15px 12px rgba(0, 0, 0, 0.278);
     color: rgb(15, 155, 211);
 }
 
 font {
     padding-left: 15px;
     /* padding-right: 40%; */
     text-align: center;
     /* padding-top: 56px; */
     font-weight: 200;
     font-size: 50px;
     font-family: 'Permanent Marker', cursive;
     text-shadow: 15px 15px 12px rgba(0, 0, 0, 0.288);
     color: rgb(17, 142, 192);
     /* col */
 }
 
 body {
     background-color: rgb(240, 237, 228);
     /* background-image: url("new2.jpg"); */
 }
 
 #user {
     padding-left: 110px;
     font-size: 45px;
     color: rgb(15, 155, 211);
     /* box-shadow: 10px 10px 10px; */
 }
